In [1]:
import os
import json
import pandas as pd

In [3]:
triples_data = []
json_files = '/Users/bytedance/Desktop/Project/consistency/data/MQuAKE-T.json'

with open(json_files, 'r', encoding='utf-8') as f:
    data = json.load(f)
    for item in data:
        if 'orig' in item and 'triples_labeled' in item['orig']:
            for triple in item['orig']['triples_labeled']:
                triples_data.append({
                    'subject': triple[0],
                    'relation': triple[1],
                    'object': triple[2]
                })

In [4]:
df = pd.DataFrame(triples_data)

In [5]:
df.head

<bound method NDFrame.head of                        subject                relation  \
0                      TV Land   headquarters location
1                New York City      head of government
2                   Bob Graham  country of citizenship
3     United States of America           head of state
4                  Reed Hadley  country of citizenship
...                        ...                     ...
4180  United States of America      head of government
4181                Kyle Reese                  spouse
4182              Sarah Connor                   child
4183               John Connor  country of citizenship
4184  United States of America           head of state

                        object
0                New York City
1               Bill de Blasio
2     United States of America
3                 Donald Trump
4     United States of America
...                        ...
4180              Donald Trump
4181              Sarah Connor
4182               John Connor
4183  United States of America
4184              Donald Trump

[4185 rows x 3 columns]>

In [6]:
df.to_csv('triples_labeled.csv', index=False)