In [1]:
import os
import json
import pandas as pd

In [15]:
triples_data = []
json_files = '/Users/bytedance/Desktop/Project/consistency/data/MQuAKE-CF-3k-v2.json'

with open(json_files, 'r', encoding='utf-8') as f:
    data = json.load(f)
    for item in data:
        if 'orig' in item and 'triples_labeled' in item['orig']:
            for triple in item['orig']['triples_labeled']:
                triples_data.append({
                    'subject': triple[0],
                    'relation': triple[1],
                    'object': triple[2]
                })

In [18]:
# 去重：将字典转换为元组进行去重
triples_data_unique = list({(d['subject'], d['relation'], d['object']) for d in triples_data})

# 将去重后的数据转换回字典格式
triples_data_unique = [{'subject': t[0], 'relation': t[1], 'object': t[2]} for t in triples_data_unique]

# 将提取的信息转换为 DataFrame
df = pd.DataFrame(triples_data_unique)

In [19]:
df.head

<bound method NDFrame.head of                        subject               relation  \
0                 The Simpsons   original broadcaster
1                  Donald Tusk  religion or worldview
2                  Donna Tartt  religion or worldview
3                 Christianity             founded by
4              Yale University            chairperson
...                        ...                    ...
3777  Seattle Sounders FC U-23                  sport
3778             Edward Cullen                creator
3779                    Horace          work location
3780              Fujieda MYFC                  sport
3781            Being and Time                 author

                        object
0     Fox Broadcasting Company
1              Catholic Church
2              Catholic Church
3                 Jesus Christ
4                Peter Salovey
...                        ...
3777      association football
3778           Stephenie Meyer
3779                      Rome
3780      association football
3781          Martin Heidegger

[3782 rows x 3 columns]>

In [20]:
df.to_csv('CF-triples_labeled.csv', index=False)